<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <title>BogleFolio</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
  <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.6/dist/htmx.min.js" integrity="sha384-Akqfrbj/HpNVo8k11SXBb6TlBWmXXlYQrCSqEWmyKJe+hDm3Z/B2WVG4smwBkRVm" crossorigin="anonymous"></script>
  <script src="https://cdn.plot.ly/plotly-2.24.1.min.js"></script>
</head>
<body>
  <main class="container">
    <header>
      <h1>BogleFolio</h1>
    </header>
    <article>
      {% block content %}{% endblock %}
    </article>
  </main>
</body>
</html>
